body{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: max(25px , min(15px));
  background-color: #b1dcf9;
  margin: 0;
}

*,
*::after,
*::before
{
  margin: 0 auto;
}


.container{
  margin: 0 auto;
  max-width: 1600px;
  height: 100%;
  overflow: hidden;
  padding: 110px 15px;
}

.container-v2{
  margin-left: 45px;
  max-width: 1600px;
  height: 100%;
}
.decorate-menu {
 
}


/* Шапка */
.header{
  background-color: #4D66AA;
  max-height: 201px;
}
.external-header{
  display: flex;
  justify-content: space-between;
  height: 201px;
  
}

.inner-header{
  align-self: center;
  flex: 0 1 45%;
  display: flex;
  align-self: center;
  max-width: 870px;
  margin: 0;
    
}

.decorate-menu{
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
  pointer-events:unset;
  z-index: 100;
  font-weight: 400;
  
}


.decorate-menu:hover::after{
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  border: 1px solid #a6b2d4;
  transition: border 0.4s linear;
}
.decorate-img{
  max-width: 430px;
  margin: 0;
  min-width: 100px;
  margin: 0;
}

.decorate-input{
  max-width: 290px;
  min-width: 100px;
  height: 51px;
  align-self: center;
  color: #9F9F9F;
  font-size : 25px;
 
}

.full-block{
  height: 110px;
  width: 100%;
}

.external-header input[type=text]{
  padding-left: 20px;
}


/* Интро */

.intro{

}


.align-intro{
  display: flex;
  height: 710px;
}

.intro-inner-block-v1{
  max-width: 770px;
  height: 690px;
}
.intro-inner-block-v2{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 770px;
  min-width: 100px;
}

.intro-inner-block-v1 h1{
  font-size: 45px;
  font-weight: 700;
  color: #304066;
  text-align: center;

}

.inner-content{
  margin-top: 40px;
  display: flex;
  height: 109px;
}


.inner-content span{
  align-self: flex-end;
  width: 600px;
}

.inner-content span:last-child{
  width: 690px;
}


.intro-inner-block-v1 img {
  margin-right: 12px;
  width: 50px;
  align-self: flex-end;
}

.decorate-button{
  cursor: pointer;
  position: relative;
  bottom: 181px;
  max-width: 680px;
  height: 123px;
  background: linear-gradient(297.55deg, #8FCDF7 32.86%, #B8E0FA 81.82%);
  border: 1px solid rgba(48, 64, 102, 0.5);
  box-shadow: 0px 9px 35px rgba(96, 134, 192, 0.56);
  border-radius: 50px;
  font-size: 36px;
  color: #304066;
}

.decorate-button:focus {
  outline: none;
}

.decorate-img-v2{
  position: absolute;
  bottom: 0;
  left: 5%;
  top:110%;
  width: 100px;
  height: 100px;
}

.decorate-img-v3{
  position: absolute;
  bottom: 0;
  right: 5%;
  top:110%;
  width: 100px;
  height: 100px;
}

.intro-inner-block-v2 button:last-child{
  top: 50px;
  margin-left: 100px;
  transition: left 0.3s linear;
  transition: top 0.3s linear;
  transition: bottom 0.3s linear;
 
}


/* Проекты */

.project-block{
  display: flex;
}

.inner-project{
  max-width: 780px;
  
}

.no-photo-project{
  position: relative;
  width: 680px;
  min-width: 100px;
  height: 680px;
  color: black;
  background-color: #c4c4c4;
}

.photo-project img{
  max-width: 680px;
}

.inner-project span{
  font-size: 24px;
  font-weight: 600;
 
}

.inner-project p{
  margin-top: 35px;
}

.inner-project h1{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 35px;
}
.text-inner-project{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 400;
  font-size: 64px;
  margin-bottom: 60px;
}

#text1{
  text-align: center;
}



/* О нас */


.about-us-block{
  display: grid;
  grid-template-columns: 580px 880px;
  grid-template-rows: repeat(1,450px );
  grid-column-gap: 40px;
  
 
}

.join-project-block{
  grid-row-start: 1;
  grid-row-end: 3;
  max-width: 580px;
  max-height: 743px;
  background: linear-gradient(0deg, #E0F3FC, #E0F3FC), #E0F3FC;
  border: 1px solid rgba(48, 64, 102, 0.5);
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 24px;
}

.Project-TGU-block{
  max-width: 880px;
  max-height: 380px;
  background: #FFFFFF;
  border: 1px solid rgba(48, 64, 102, 0.5);
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  font-size: 24px;
}
.Project-TGU-block h1{
  margin: 40px 0;
  font-size: 48px;
}

.initiative-block{
  grid-column-start:2;
  max-width: 100%;
  width: 100%;
  max-height: 300px;
  background: linear-gradient(0deg, #E0F3FC, #E0F3FC), #E0F3FC;
  border: 1px solid rgba(48, 64, 102, 0.5);
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 24px;
}

.initiative-block h1{
  margin: 10px 0 40px 0 ;
  text-align: center;
  font-weight: 400;
}

.initiative-block li{
  margin-bottom: 30px;
}

.initiative-block ul{
  padding-left: 60px;
}

.join-project-block h1{
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}

.join-project-block ul{
 padding-left: 60px;
 
}

.join-project-block li{
  margin-bottom: 50px;
  
 }


 /* Контакты */


.contatc-block{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap; 
 font-size: 24px;}

.inner-content-contact{
  max-width: 627px;
  font-size: 24px;
  margin: 0;
  flex-basis: 50%;
}

.inner-content-contact:nth-child(n+3) {margin-top: 40px;}

a.inner-content-contact {
  text-decoration: none;
  color: #000;
}


/* Менюшка */

#nav-toggle {
  position: fixed;
  display: none;
  width:35px; 
  height:25px;
  margin: 10px;
  z-index: 100;
}
#nav-toggle span { position: absolute; left: 0; top: 10px; }

#nav-toggle span, 
#nav-toggle span:before,
#nav-toggle span:after {
  position: absolute;
  display: block;
  content: '';
  height: 5px;
  width: 35px;
  background: black;
  border-radius: 1px;
  cursor: pointer;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px; 
}

#nav-toggle.Open span:before{
  top: 1px;
  left: 5px;
  transform: rotate(45deg);
  transition: all 0.3s linear;
}


#nav-toggle.Open span:after{
  transform: rotate(-45deg);
  transition: all 0.3s linear;
  bottom: 0.5px;
  left: 5px;
 
}

#nav-toggle.Open span{
  background-color: transparent;
}

.hide-menu{
  position:fixed;
  width: 100%;
  height: 201px;
  background-color: white;
  top: -1000px;
  z-index: 10;
}


.hide-menu.Open{
  top: 0;
  transition: all 0.5s linear;
}

.inner-header-v2{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 870px;
  color: black;
}


.decorate-menu-v2{
  
    position: relative;
    text-decoration: none;
    color: black;
    pointer-events:unset;
    z-index: 100;
    font-weight: 400;
    height: 45px;
  
}

.decorate-menu-v2:hover::after{
  content: "";
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  border: 1px solid #a6b2d4;
  transition: border 0.4s linear;
}

/* Подвал */


.footer{
  background-color: #4D66AA;
  height: 200px;
}

.container-footer{
  position: relative;
  top: 48px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}

.container-footer img{
  margin-left: 30px;
  margin-bottom: 10px;
}



/* Анимация */


@media(max-width: 1147px){
  .align-intro{
    display: block;
    height: 1500px;
   

  }
  .intro-inner-block-v2{
    margin-top: 290px;
    transition: all 1s linear;
  }

  
  #nav-toggle{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
  }
  .external-header{
    position: relative;
  }

  .inner-header{
    display: none;
  }
  .decorate-input{
    display: none;
  }

  #nav-toggle{
    display: inline-block;
  }

  .intro-inner-block-v2 button:last-child{
    margin-left: auto;
    transition: all 1s linear;

  }

  .contatc-block{
    flex-direction: column;
    
  }
  .inner-content-contact{
    margin: 20px 0;
    max-width: 100%;
    transition: all 0.5s linear;
  }

}

@media (max-width: 610px){

  .no-photo-project
  {
    width: 100%;
  }

  .align-intro{
    display: block;
    height: inherit;
  }

  .intro-inner-block-v1 h1 {
    margin-bottom: 50px;
    font-size: 42px;
    transition: all 1s linear;
  }
  .intro-inner-block-v2 button:last-child{
    margin-left: auto;
    top: -50px;
    bottom: 300px;
   transition: all 1s linear;
  }

  .decorate-img-v2{
    display: none;
  }

  .decorate-img-v3{
    display: none;
  }
  .inner-content{
    margin-top: 20px;
    transition: all 1s linear;
  }
  
  /*.inner-content:nth-child(3){
    margin-top: 80px;
    transition: all 1s linear;
  }*/
 

  .intro-inner-block-v1{
    transition: all 1s linear;
  }
  .inner-header{
    color: black;
  }
  
  .footer{
    height: 300px;
  
  }
  
  .intro-inner-block-v2{
    transition: all 1s linear;
  }
}


@media(max-width: 1220px){
  .project-block{
    display: block;
  }

  .no-photo-project, .photo-project{
    margin-top: 30px;
    max-width: 780px;
    transition: all 0.5s linear;
  }

  .photo-project img{
    max-width: 100%;
  }

  .text-inner-project{
    font-size: 30px;
    transition: all 0.5s linear;
  }
}

@media(max-width: 1520px){
  .about-us-block{
    display: block;
  }
  .about-us-block div{
     
   margin-top: 30px;
   transition: all 0.5s linear;
  }

  .join-project-block{
   max-width: 880px;
    max-height: 1000px;
    transition: all 0.5s linear;
  }
  .join-project-block li {
    margin-bottom: 0px;
    transition: all 0.5s linear;
   }

   .Project-TGU-block{
    
    max-height: 1000px;
   }
   .Project-TGU-block h1{
     font-size: 40px;
     transition: all 0.5s linear;
   }

   .Project-TGU-block p{
    margin-bottom: 30px;
    transition: all 0.5s linear;
  }
   .initiative-block{
     max-width: 880px;
     max-height: 1000px;
   }

   .join-project-block ul{
      padding-bottom: 30px;
      transition: all 0.5s linear;
   }

   .inner-content-contact:nth-child(n+3) {margin: 20px 0;}
}