<!DOCTYPE html>
<html>
    <head>
        <title>Project</title>
        <meta charset ="UTF-8">
        <link href ="Assets/style.css" rel ="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@500&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>
    <body>
      <header class = "header">
          <div class="external-header">
              <img  class = "decorate-img" src = "Assets/image/Лого.jpg">
              <nav class="inner-header">
                  <a class = "decorate-menu" href ="index.html" >Главная</a>
                  <a class = "decorate-menu" href ="Project.html" >Проекты</a>
                  <a class = "decorate-menu" href ="Abous us.html" >О нас</a>
                  <a class = "decorate-menu" href ="contact.html" >Контакты</a>
              </nav>
              <input style ="background: url('../Template-TGU/Assets/image/Поиск.svg') no-repeat white;  background-position: 90%;" type = "text" placeholder = "Поиск" class = "decorate-input" name="search">
              <a id="nav-toggle" href="#"><span></span></a>
            </div>
            <div class="hide-menu">
                <nav class="inner-header-v2">
                    <a class = "decorate-menu-v2" href ="index.html" >Главная</a>
                    <a class = "decorate-menu-v2" href ="Project.html" >Проекты</a>
                    <a class = "decorate-menu-v2" href ="Abous us.html" >О нас</a>
                    <a class = "decorate-menu-v2" href ="contact.html" >Контакты</a>
                </nav>
            </div>

      </header>
      <section class ="intro">
        <div class="container">
            <div class="about-us-block">
                <div class="join-project-block">
                    <h1>Участие в проекте:</h1>
                    <ul>
                     <li>Способствует развитию профессиональных компетенций</li>
                     <li>Дает возможность реализовать свои идеи</li>
                     <li> Учит планировать и работать в команде</li>
                     <li> Дает старт своим бизнес-проектам</li>
                     <li> Открывает возможность к сотрудничеству с предприятиями города</li>
                     <li> Повод стать участником конкурса грантов</li>
                    </ul>
                </div>
                <div class="Project-TGU-block">
                    <h1>Проектная деятельность в ТГУ</h1>
                    <p>Проектная деятельность в университете является обязательной дисциплиной учебного процесса для студентов всех курсов бакалавриата и специалитета. Выбирать проект можно один раз в семестр. По итогам семестра за дисциплину «Проектная деятельность» проставляется зачет.</p>
                </div>
                 <div class="initiative-block">
                     <h1>Инициаторами проекта могут быть:</h1>
                     <ul>
                         <li>Преподаватель университета;</li>
                         <li>Студент университета;</li>
                         <li>Представитель внешней организации.</li>
                     </ul>
                 </div>
            </div>
        </div>
      </section>



       <footer class ="footer">
         <div class="container-footer">
             <img src="Assets/image/ВК.svg">
             <img src="Assets/image/Инст.svg">
             <img src="Assets/image/Телега.svg">
             <img src="Assets/image/Телефон.svg">
             <p>Ул. Белорусская, д. 14, каб. Г419, Пн-Пт 8:15-12:30, 13:15-17:00</p>
         </div>

       </footer>

       <script src ="Assets/Frame/node_modules/jquery/dist/jquery.min.js"></script>
       <script src="Assets/code.js"></script>
    </body>
</html>