<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Main</title>
        <meta charset ="UTF-8">
        <link href ="{% static 'css/style.css' %}" rel ="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@500&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>
    <body>
      <header class = "header">
          <div class="external-header">
              <img  class = "decorate-img" src = "{% static 'Images/Лого.jpg' %}">
              <nav class="inner-header">
                  <a class = "decorate-menu" href ="{% url 'index' %}" >Главная</a>
                  <a class = "decorate-menu" href ="{% url 'project_all' %}" >Проекты</a>
                  <a class = "decorate-menu" href ="{% url 'about_us' %}" >О нас</a>
                  <a class = "decorate-menu" href ="{% url 'contact' %}" >Контакты</a>
              </nav>
              <input style ="background: url('../Template-TGU/Assets/image/Поиск.svg') no-repeat white;  background-position: 90%;" type = "text" placeholder = "Поиск" class = "decorate-input" name="search">
              <a id="nav-toggle" href="#"><span></span></a>
            </div>
            <div class="hide-menu">
                <nav class="inner-header-v2">
                    <a class = "decorate-menu-v2" href ="{% url 'index' %}" >Главная</a>
                    <a class = "decorate-menu-v2" href ="{% url 'project_all' %}" >Проекты</a>
                    <a class = "decorate-menu-v2" href ="{% url 'about_us' %}" >О нас</a>
                    <a class = "decorate-menu-v2" href ="{% url 'contact' %}" >Контакты</a>
                </nav>
            </div>

      </header>
      <section class ="intro">
          <div class="container">
              <div class="align-intro">
                <div class="intro-inner-block-v1">
                    <h1>Центр проектной деятельности ТГУ - это</h1>
                    <div class="inner-content">
                     <img src="{% static 'Images/image 4.svg' %}">
                     
                        <span>Сопровождение реализации проектной
                        деятельности в рамках учебного процесса
                        университета</span>
                     
                     </div>

                    <div class="inner-content">
                        <img src="{% static 'Images/image 5.svg' %}">
                        
                            <span>Обеспечение организационного сопровождения практики студентов</span>
                        
                       </div>


                       <div class="inner-content">
                        <img src="{% static 'Images/image 6.svg' %}">
                        
                            <span>Содействие успешному трудоустройству студентов и выпускников университета</span>
                        
                       </div>


                       <div class="inner-content">
                        <img src="{% static 'Images/image 7.svg' %}">
                        
                            <span>Обеспечение организационного сопровождения программ целевого обучения студентов</span>
                        
                       </div>

                </div>
                <div class="intro-inner-block-v2">
                  
                    <button class = "decorate-button">Предложить сотрудничество
                        <img class = "decorate-img-v2" src ="{% static 'Images/image 3.svg' %}">
                    </button>

                    <button class = "decorate-button">Школа кураторов проектной деятельности ТГУ
                        <img class = "decorate-img-v3" src ="{% static 'Images/image 2.svg' %}">
                    </button>
                   
                </div>
              </div>
          </div>
      </section>
       <footer class ="footer">
         <div class="container-footer">
             <img src="{% static 'Images/ВК.svg' %}">
             <img src="{% static 'Images/Инст.svg' %}">
             <img src="{% static 'Images/Телега.svg' %}">
             <img src="{% static 'Images/Телефон.svg' %}">
             <p>Ул. Белорусская, д. 14, каб. Г419, Пн-Пт 8:15-12:30, 13:15-17:00</p>
         </div>

       </footer>

       <script src ="{% static 'Assets/Frame/node_modules/jquery/dist/jquery.min.js' %}"></script>
       <script src="{% static 'js/code.js' %}"></script>
    </body>
</html>