<!DOCTYPE html>
<html>
    <head>
        <title>Project</title>
        <meta charset ="UTF-8">
        <link href ="Assets/style.css" rel ="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@500&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>
    <body>
      <header class = "header">
          <div class="external-header">
              <img  class = "decorate-img" src = "Assets/image/Лого.jpg">
              <nav class="inner-header">
                  <a class = "decorate-menu" href ="index.html" >Главная</a>
                  <a class = "decorate-menu" href ="Project.html" >Проекты</a>
                  <a class = "decorate-menu" href ="Abous us.html" >О нас</a>
                  <a class = "decorate-menu" href ="contact.html" >Контакты</a>
              </nav>
              <input style ="background: url('../Template-TGU/Assets/image/Поиск.svg') no-repeat white;  background-position: 90%;" type = "text" placeholder = "Поиск" class = "decorate-input" name="search">
              <a id="nav-toggle" href="#"><span></span></a>
            </div>
            <div class="hide-menu">
                <nav class="inner-header-v2">
                    <a class = "decorate-menu-v2" href ="index.html" >Главная</a>
                    <a class = "decorate-menu-v2" href ="Project.html" >Проекты</a>
                    <a class = "decorate-menu-v2" href ="Abous us.html" >О нас</a>
                    <a class = "decorate-menu-v2" href ="contact.html" >Контакты</a>
                </nav>
            </div>

      </header>
      <section class ="intro">
             <div class="container">
                 <div class="project-block" id="project">
                     <!--<div class="inner-project">
                         <h1>Трейдинг и финансовая грамотность</h1>
                          <p><span>О проекте:</span> На XI Биржевом форуме Московской биржи представитель Центрального Банка заявил, что в течение нескольких лет ожидается увеличение количества граждан владеющими ценными бумагами на фондовом рынке до 74 миллионов человек. Для эффективного управления ценными бумагами на фондовом рынке (акциями, облигациями) необходимо уметь анализировать риски, контролировать эмоции и принимать правильные инвестиционные решения. Проект направлен на получение его участниками опыта торговли на бирже и на разработку обучающих видеороликов на тему инвестирования.
                          </p>
                          <p><span>Набор:</span> Необходимы студенты 1-4 курсов любых направлений подготовки.
                          </p>
                          <p><span>Необходимое количество студентов для проектной команды:</span> 20</p>
                          <p><span>Ответственное лицо:</span> Климов Виталий Сергеевич
                            KlimovV@gmail.com +79372370554</p>
                     </div>
                       <div class="photo-project">
                        <div class="text-inner-project">
                           <p id ="text1">Фото</p>
                           <p >Проекта</p>
                        </div>
                     </div>-->
                 </div>
             </div>
      </section>
       <footer class ="footer">
         <div class="container-footer">
             <img src="Assets/image/ВК.svg">
             <img src="Assets/image/Инст.svg">
             <img src="Assets/image/Телега.svg">
             <img src="Assets/image/Телефон.svg">
             <p>Ул. Белорусская, д. 14, каб. Г419, Пн-Пт 8:15-12:30, 13:15-17:00</p>
         </div>

       </footer>

       <script src ="Assets/Frame/node_modules/jquery/dist/jquery.min.js"></script>
       <script src="Assets/code.js"></script>
       <script type="text/javascript">
       async function getProject(id) {
            let data = await fetch('http://localhost:8000/polls/project/'+ id);
            let dataUser = await data.json();
            let image = '';
            let img = new Image();
            img.src = "django-docker/"+dataUser[0]['fields']['image'];
            $('#project').html('')
            img.onerror = function(){
                image = `
                    <div class="no-photo-project">
                        <div class="text-inner-project">
                           <p id ="text1">Фото</p>
                           <p >Проекта</p>
                        </div>
                    </div>`;
                $('#project').append(`
                    <div class="inner-project">
                         <h1>${dataUser[0]['fields']['nameProject']}</h1>
                          <p><span>О проекте: </span> ${dataUser[0]['fields']['discription']}
                          </p>
                          <p><span>Набор: </span>${dataUser[0]['fields']['course']}.
                          </p>
                          <!--<p><span>Необходимое количество студентов для проектной команды:</span> 20</p>-->
                          <p><span>Ответственное лицо: </span> ${dataUser[0]['fields']['supervisor']}</p>
                          <p><span>Контакты: </span>
                           ${dataUser[0]['fields']['contact']}</p>
                     </div>
                    ${image} 
                `)
            };
            img.onload = function(){
                image = `
                <div class="photo-project">
                    <img src="django-docker/${dataUser[0]['fields']['image']}"> 
                </div>`;
                $('#project').append(`
                    <div class="inner-project">
                         <h1>${dataUser[0]['fields']['nameProject']}</h1>
                          <p><span>О проекте: </span> ${dataUser[0]['fields']['discription']}
                          </p>
                          <p><span>Набор: </span>${dataUser[0]['fields']['course']}.
                          </p>
                          <!--<p><span>Необходимое количество студентов для проектной команды:</span> 20</p>-->
                          <p><span>Ответственное лицо: </span> ${dataUser[0]['fields']['supervisor']}</p>
                          <p><span>Контакты: </span>
                           ${dataUser[0]['fields']['contact']}</p>
                     </div>
                    ${image} 
                `)
            };
        }
        let id = location.href.split('=')[1];
        getProject(id);
        
       </script>
    </body>
</html>